{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block category %}
  <!--category-->
  {% for i in category %}
    <li class="nav-item text-black ">
      <a class="nav-link text-black font-weight-bold"
          href="{% url 'list_category' %}"> 
          {{ i.category }} 
      </a>
    </li>
  {% endfor %}
{% endblock  %}

{% block content %}
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }
        .head_text{
            color: white;
        }
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
    </style>
{% load crispy_forms_tags %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <!--Detail post-->
                <div class="col-md-8 card mb-4  mt-3 left  top">
                    <div class="card-body">
                        <h1> {{ post.title }}</h1>
                        <p class=" text-muted">{{ post.author }} | {{ post.created_on }} | 
                        Category:<a href="{% url 'list_category' %}"><b>{{ post.category }}</b></a> 
                        </b></a></p>
                        
                        <p class="card-text ">{{ post.description | safe }}</p>        
                        <a   class="btn btn-outline-secondary"
                            href="{% url 'update_post' id=post.id %}"
                        > Update 
                        </a>
                        <a    class="btn btn-outline-danger ml-2"
                            href="{% url 'delete_post' id=post.id %}"
                        > Delete 
                        </a> 
                    </div>
                </div>
                <!-- comments -->
                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        <h2>{{ comments.count }} comments</h2>
                        {% for comment in comments %}
                             <div class="comments" style="padding: 10px;">
                                <p class="font-weight-bold">
                                    {{ comment.name }}
                                    <span class=" text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                    </span>
                                </p>
                                {{ comment.body | linebreaks }}
                                <a   class="btn btn-outline-secondary"
                            href="{% url 'update_comments' id=post.id %}"
                        > Update 
                        </a>
                        <a    class="btn btn-outline-danger ml-2"
                            href="{% url 'delete_comments' id=post.id %}"
                        > Delete 
                        </a> 
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting moderation
                            </div>
                        {% else %}
                            <h3>Leave a comment</h3>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <!--Detail post-->
                <div class="col-md-8 card mb-4  mt-3 left  top">
                    <div class="card-body">
                        <h1> {{ post.title }}</h1>
                        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                        <p class="card-text ">{{ post.description | safe }}</p>

                    </div>
                </div>
                <!-- comments -->
                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        <h2>{{ comments.count }} comments</h2>
                        {% for comment in comments %}
                             <div class="comments" style="padding: 10px;">
                                <p class="font-weight-bold">
                                    {{ comment.name }}
                                    <span class=" text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                    </span>
                                </p>
                                {{ comment.body | linebreaks }}
                                <a   class="btn btn-outline-secondary"
                            href="{% url 'update_comments' id=post.id %}"
                        > Update 
                        </a>
                        <a    class="btn btn-outline-danger ml-2"
                            href="{% url 'delete_comments' id=post.id %}"
                        > Delete 
                        </a> 
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting moderation
                            </div>
                        {% else %}
                            <h3>Leave a comment</h3>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}