{% extends 'base.html' %}

{% block title %} Detail Category {% endblock title %}

{% block content %}
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }
        .head_text{
            color: white;
        }
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
    </style>

        <div class="container">
            <div class="row">
                <!--Detail post-->

                <div class="col-md-8 card mb-4  mt-3 left  top">
                    <div class="card-body">
                    <h1> {{ data.category }}</h1>
                        <h1> {{ data.categorysecond }}</h1>
                    </div>
                </div>
            </div>
        </div>
    
    
{% endblock %}