{% extends 'base.html' %} {% load crispy_forms_tags %} 

{% block category %}
  <!--category-->
  {% for i in category %}
    <li class="nav-item text-black ">
      <a class="nav-link text-black font-weight-bold"
          href="{% url 'list_category' %}"> 
          {{ i.category }} 
      </a>
    </li>
  {% endfor %}
{% endblock  %}

{% block title %}
Upadete Comments
{% endblock title %}


{% block userinfo %}
<!--userinfo-->
<style>
.profile_pic_user {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
</style>
  {% for data in user_extra %}
    <img
        class="img-circle profile_pic_user"
        src="{{ data.profile_img.url }}"
    />
  {% endfor %}
{% endblock userinfo %}


{% block content %}

<div class="container-fluid mainContent">
  <div class="row">
  <div class="col-12 col-sm-2 col-md-2 col-xl-2"></div>
    <div class="col-12 col-sm-8 col-md-8 col-xl-8">
    <br /><br />
      <div class="card listPostCard">
        <div class="card-header listPostCHeader">
          <h2 class="card-title">Update Comment</h2>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            {{ form|crispy }}

            <button type="submit" class="btn btn-outline-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
